<div class='container'>
  <div class='row'>
    <div class='span4'>
      <h1>A Guide Book Like No Other</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.
      </p>
    </div>
    <div class='span8' style="background-color: #91AEB3"><div style="margin: 0 auto">Something Visual Goes Here</div></div>
  </div>
  <div class='row'>
    <div class='span4'>
      <h3>Get The Guide Book</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo.</p>
    </div>
    <div class='span4'>
      <h3>Go On An Adventure</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo.</p>
    </div>
    <div class='span4'>
      <h3>Take Field Notes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo.</p>
    </div>
  </div>
</div>
