<div class='content' style='position: absolute; right: 50px; top: 350px; left: 650px; z-index: 1049;'>
  <h1>Welcome to the Viewfinder Initiative</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.<p>
    <a class='btn btn-primary scroll' style='margin-right: 8px' href='#guide_promo'>Learn More About Our Project</a>
    <a class='btn btn-primary scroll'  style='margin-right: 8px' href='#about'>Learn More About The Initiative</a>
    <%= render 'devise/registrations/keep_me_updated_form' %>
</div>
