<div class='container'>
  <div class='row'>
    <div class='span12 about_vfi'>
      <h1>About</h1>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.
    </p>
    <p>
      In mollis sapien nec ante gravida, porta euismod est tempus. Suspendisse accumsan pellentesque ante eu ultrices. Duis rutrum urna erat, ac ullamcorper libero scelerisque gravida. Duis sed velit luctus, tincidunt turpis non, cursus dolor. Maecenas vitae scelerisque justo, a vestibulum lectus. Sed pellentesque elementum nisl, id adipiscing purus fermentum non. Morbi interdum venenatis elit, ut ultricies purus volutpat in. Etiam vehicula massa purus. Vestibulum cursus odio non consequat sodales. Praesent et auctor turpis, sit amet elementum magna. Mauris tempor, nulla aliquet porta ornare, ipsum orci iaculis lorem, non feugiat massa neque eu mauris. Quisque ac consequat quam. Aliquam sagittis pulvinar erat, vitae luctus risus convallis nec. Proin congue erat nec sodales adipiscing. Nunc tortor nunc, facilisis sed elit a, ultrices iaculis erat. Nullam fringilla lobortis ultricies.
    </p>
    </div>
  </div>
  <div class='row'>
    <div class='span4 profile_vfi'>
      <div class='profile_image'><%= image_tag 'profile_stuart.jpg', class: "img-circle"%></div>
      <div class='profile_name'>Stuart Higgs</div>
      <div class='profile_bio'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.
      </div>
    </div>
    <div class='span4 profile_vfi'>
      <div class='profile_image'><%= image_tag 'profile_jocelyn.jpg', class: "img-circle" %></div>
      <div class='profile_name'>Jocelyn Hirose</div>
      <div class='profile_bio'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.
      </div>
    </div>
    <div class='span4 profile_vfi'>
      <div class='profile_image'><%= image_tag 'profile_chris.jpg', class: "img-circle" %></div>
      <div class='profile_name'>Chris Gat</div>
      <div class='profile_bio'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum leo non eros viverra, eget accumsan risus tincidunt. Morbi gravida fermentum viverra. Maecenas pulvinar convallis commodo. Duis tincidunt tellus dolor, ornare interdum nisi euismod ac. Nullam molestie purus ac nisi facilisis facilisis. Vivamus pellentesque vitae magna rutrum ornare. Pellentesque vulputate varius diam et varius. Integer facilisis dictum orci, eget tempor ipsum sollicitudin sit amet. Sed rutrum vulputate sapien, sit amet scelerisque sem molestie vitae. Quisque convallis enim vel tortor sagittis vestibulum.
      </div>
    </div>
  </div>
</div>
