/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.classycompare
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.divider_line {
  height:1px;
  background:#717171;
  width: 60%;
  margin: 30px auto;
}
.comparison_before_after #welcome {
  position: absolute;
  right: 5%;
  top: 43%;
  left: 40%;
  z-index: 1049;
}
.landing_page_section {
  margin-top: -40px;
  padding-top: 40px;
}

.comparison_repeat_historic {
  float: left;
  padding: 10px;
}

.image_date {
  position: absolute;
  background-color: blue;
  color: white;
  padding: 1px 5px;
}

.image_with_date {
  display: inline-block;
}
